<!--<div style="text-align: center;">-->
<!--    <div class="embed odysee-player">-->
<!--        <iframe class="lbry-iframe" type="text/html" width="640" height="385" style="border-width: 0"-->
<!--                src="https://odysee.com/$/embed/{{ index .Params 0 }}" allowfullscreen></iframe>-->
<!--    </div>-->
<!--</div>-->

<!--<iframe id="odysee-iframe" width="560" height="315" src="https://odysee.com/$/embed/@React19Clips:b/suzannanewell:f?r=DbzCdJ1Jv4tWm4etnDEvyHFPewN6DD3c" allowfullscreen></iframe>-->

<div style="padding-bottom: 56.25%;margin-top:8px; margin-bottom:8px; position: relative;"class="embed odysee-player"><iframe width="100%" height="100%" src="https://odysee.com/$/embed/{{ index .Params 0 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"  style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"></iframe></div>