{{ define "main"}}

<!-- screenings form start -->


<section class="contact section-sm d-flex flex-row justify-content-center" xmlns="http://www.w3.org/1999/html">
    <div style="margin: 6px; padding: 0 0 10px 0" class="offset-1 offset-lg-2 justify-content-center container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="text-center mb-1 contact-title">
                    <h2 class="mb-3" style="padding-bottom: 10px;">Donate</h2>
                </div>
            </div>
        </div>
        <div class="row text-center  justify-content-center mb-3">
            <p style="max-width:656px;margin-left: auto;margin-right: auto;"><strong>Anecdotals</strong> has been made
                available for free with no ads so that it is accessible for everyone. Any support you can give will go
                towards marketing and other movie expenses.<br/>Even the price of a movie ticket would help.             <br />(Contributions are not tax-deductible.)

            </p></div>
        <div class="row text-center">
            <div class="col-sm-3" style="background:#eae9f6; padding:10px;">
                <h4>Credit Card</h4>
                <button type="button"
                        id="donate-15"
                        class="btn btn-main px-4 snipcart-add-item donate"
                        style="margin-bottom:15px; width:190px; border-radius: 25px; padding:10px 18px;z-index:9999;"
                        data-item-id="donate-15"
                        data-item-price="15.00"
                        data-item-shippable="false"
                        data-item-name="Donate $15">Contribute $15 &nbsp; <i class="ti-angle-right mr-2"></i>
                </button>
                <button type="button"
                        id="donate-50"
                        class="btn btn-main px-4 snipcart-add-item donate"
                        style="margin-bottom:15px; width:190px; border-radius: 25px; padding:10px 18px;z-index:9999;"
                        data-item-id="donate-50"
                        data-item-price="50.00"
                        data-item-shippable="false"
                        data-item-name="Donate $50">Contribute $50 &nbsp; <i class="ti-angle-right mr-2"></i>
                </button>
                <button type="button"
                        id="donate-100"
                        class="btn btn-main px-4 snipcart-add-item donate"
                        style="margin-bottom:15px; width:190px; border-radius: 25px; padding:10px 18px;z-index:9999;"
                        data-item-id="donate-100"
                        data-item-price="100.00"
                        data-item-shippable="false"
                        data-item-name="Donate $100">Contribute $100 &nbsp; <i class="ti-angle-right mr-2"></i>
                </button>
                <button type="button"
                        id="donate-500"
                        class="btn btn-main px-4 snipcart-add-item donate"
                        style="margin-bottom:15px; width:190px; border-radius: 25px; padding:10px 18px;z-index:9999;"
                        data-item-id="donate-500"
                        data-item-price="500.00"
                        data-item-shippable="false"
                        data-item-name="Donate $50">Contribute $500 &nbsp; <i class="ti-angle-right mr-2"></i> &nbsp;
                </button>
                <button type="button"
                        id="donate-1000"
                        class="btn btn-main px-4 snipcart-add-item donate"
                        style="margin-bottom:15px; width:190px; border-radius: 25px; padding:10px 18px;z-index:9999;"
                        data-item-id="donate-1000"
                        data-item-price="1000.00"
                        data-item-shippable="false"
                        data-item-name="Donate $50">Contribute $1,000 &nbsp; <i class="ti-angle-right mr-2"></i> &nbsp;
                </button>

            </div>
            <div class="col-sm-9 ">
                <div class="row text-center  justify-content-center" >
                    <div class="col-sm-5" style="background:#eae9f6; margin: 0 15px 15px 15px; padding:20px 15px 15px 15px;">
                        <h4>Via PayPal</h4>
                        <p><a href="https://paypal.me/AnecdotalsMovie"
                              target="_blank">https://paypal.me/AnecdotalsMovie</a></p>
                    </div>
                    <div class="col-sm-5" style="background:#eae9f6; margin: 0 15px 15px 15px; padding:20px 15px 15px 15px;">
                        <h4>Via Venmo</h4>
                        <p>
                            <a href="https://venmo.com/?txn=charge&audience=public&recipients=#sharpfilms">@Sharpfilms</a>
                        </p>
                    </div>
                    <div class="col-sm-5" style="background:#eae9f6; margin: 15px; padding:20px 15px 15px 15px;">
                        <h4>Via SnailMail</h4>
                        <p>Anecdotals, c/o Jennifer Sharp<br/>PO Box 661094<br/>Los Angeles, CA 90066</p>
                    </div>
                    <div class="col-sm-5" style="background:#eae9f6;  margin:15px; padding:20px 15px 15px 15px;">
                        <h4>Via Zelle</h4>
                        <p>Donations can be made to: <strong>AnecdotalsMovie@gmail.com</strong></p></div>
                </div>

            </div>

        </div>
        <div class="row text-center justify-content-center pt-2">
        </div>
    </div>
    </div>

</section>

{{ end }}
