{{ define "main"}}

<!-- screenings form start -->


<section class="contact section-sm d-flex flex-row justify-content-center" xmlns="http://www.w3.org/1999/html">
    <div style="margin: 6px; padding: 0 0 10px 0" class="offset-1 offset-lg-2 justify-content-center container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="text-center mb-1 contact-title">
                    <h2 class="mb-3" style="padding-bottom: 10px;">Support Anecdotals</h2>
                </div>
            </div>
        </div>
        <div class="row text-center  justify-content-center mb-3">
            <p style="max-width:656px;margin-left: auto;margin-right: auto;"><strong>Anecdotals</strong> has been made
                available for free with no ads so that it is accessible for everyone. Any support you can give will go
                towards marketing and other movie expenses.<br/>Even the price of a movie ticket would help.             <br />(Contributions are not tax-deductible.)

            </p></div>
        <div class="row text-center justify-content-center">
            <div class="col-md-4" style="background:#eae9f6; margin: 15px; padding:20px 15px 15px 15px;">
                <h4>Via PayPal</h4>
                <p><a href="https://paypal.me/AnecdotalsMovie"
                      target="_blank" style="color: #5D3FD3;">https://paypal.me/AnecdotalsMovie</a></p>
            </div>
            <div class="col-md-4" style="background:#eae9f6; margin: 15px; padding:20px 15px 15px 15px;">
                <h4>Via Venmo</h4>
                <p>
                    <a href="https://venmo.com/?txn=charge&audience=public&recipients=#sharpfilms" style="color: #5D3FD3;">@Sharpfilms</a>
                </p>
            </div>
            <div class="col-md-4" style="background:#eae9f6; margin: 15px; padding:20px 15px 15px 15px;">
                <h4>Via Zelle</h4>
                <p>Donations can be made to: <strong>AnecdotalsMovie@gmail.com</strong></p>
            </div>
        </div>
        <div class="row text-center justify-content-center pt-2">
        </div>
    </div>
    </div>

</section>

{{ end }}