<li class="d-md-table mb-4 w-100 border-bottom hover-shadow">
    <div class="d-md-table-cell text-center bg-primary text-white mb-4 mb-md-0"><span class="h6 d-block">&nbsp;</span></div>
    <div class="d-md-table-cell px-4 vertical-align-middle mb-4 pb-3 mb-md-0">
        <a target="_blank" href="{{ .Params.Linkurl }}" class="h4 mb-3 d-block">{{ .Title }}</a>
        <p class="mb-0">{{ .Description }}</p>
    </div>
    <div class="d-md-table-cell text-right pr-0 pr-md-4"><a target="_blank" href="{{ .Params.Linkurl }}" class="btn btn-primary resource-btn">Visit</a></div>
</li>