<div class="col-lg-4">
  <div class="sidebar-widget mt-4 mt-lg-0">
    <div class="widget mb-5 tags">
      <h4 class="mb-4 widget-title">Tags</h4>
      <ul class="list-inline">
        <li class="list-inline-item"><a
                href="/press">All Press</a></li>
        {{- if isset .Site.Taxonomies "tags" }}
        {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
        {{- range $name, $items := .Site.Taxonomies.tags }}
        <li class="list-inline-item"><a
            href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
        {{- end }}
        {{- end }}
        {{- end }}
      </ul>
    </div>
    <div class="widget mb-5 follow">
      <h4 class="mb-4 widget-title">Share</h4>
      <ul class="list-inline">
        {{range .Site.Params.social }}
        <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
