<link rel="stylesheet" href="../../assets/scss/templates/_navigation.scss">
<section id="topbar" class="topbar d-flex align-items-center">
  <div class="container d-flex justify-content-center justify-content-md-between"  style="margin-top:5px">
    <div class="d-flex align-items-center">
    </div>
    <div class="social-links d-none d-md-flex align-items-center">
      <a aria-label="Anecdotals Twitter" href="https://twitter.com/AnecdotalsMovie" target="_blank"><i style="vertical-align:bottom;" class="ti-twitter-alt mr-3"></i></a>
      <a aria-label="Instagram" href="https://instagram.com/AnecdotalsMovie" target="_blank"><i style="vertical-align:bottom;" class="ti-instagram mr-3"></i></a>

    </div>
  </div>
</section><!-- End Top Bar -->
<nav style="line-height:1em;" class="navbar navbar-expand-lg  main-nav " id="navbar">
  <div class="container">
	  <a style="font-weight: 700;" class="navbar-brand" href="{{ .Site.BaseURL }}">Anecdotals</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#toggler1"
      aria-controls="toggler1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-align-justify"></span>
    </button>

    <div class="collapse navbar-collapse" id="toggler1">
      <ul class="navbar-nav ml-auto">
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown" style="height:3px">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">{{ .Name }}</a>
          <ul class="dropdown-menu">
            {{ range .Children }}
            <li><a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </li>
        {{ else }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
