{{ define "main" }}

<section class="section banner pb-lg-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 pb-5 text-center">
        <iframe title="Anecdotals" width="560" height="315" src="https://video.anecdotalsmovie.com/videos/embed/8ff3b90a-8ca8-4026-bb84-aca6f46a688a?warningTitle=0&amp;peertubeLink=0&amp;p2p=0" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}
