{{ define "main" }}

<!-- Banner End -->
<section class="project">
  <div class="container mt-2">
    <div class="row">
    <div class="col-lg-12">
      <section class="section banner pb-lg-0">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
<!--               <h5><img style="margin-right:2px" width="43px" src="/images/live_now.png" alt="Live"><u><a style="color:red;" href="https://www.robertscottbell.com/listen/">Now - Our Filmmaker on the Robert Scott Bell Podcast</a></u></h5>-->
                <h2>ANECDOTALS</h2>
                <p>
                    A compassionate exploration of the nuanced vaccine debate.<br />
                    While the vaccine debate grows more divided, those with adverse reactions get stuck in the middle.
                </p>
                <div class="embed-container">
                    <iframe width="608" height="342" src="https://www.youtube.com/embed/t36HntCJf6Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <ul class="list-inline mb-0">
                {{range .Site.Params.social }}
                <li class="list-inline-item"><a aria-label="{{ .arialabel}}" href="{{ .link | safeURL }}" target="_blank"><i style="vertical-align:bottom; font-size:16px" class="{{ .icon }} mr-3"></i></a>
                </li>
                {{ end }}
                </ul>
            </div>
          </div>
          <div class="row mt-5">
              <div class="col-lg-6  pr-5">
                  <h3>Synopsis</h3>
                  <p>
                      In March 2021, after receiving my Pfizer shot, I couldn't feel the left side of my face for a month. Eighteen months later, electric shocks and muscle weakness continue. Unable to receive the 2nd dose, I am amongst a group of partially-vaccinated people who have been outcast from many aspects of society with no empathy. We've been censored and told it's unethical to talk about our stories because we are just anecdotes.
                  </p>
                  <p>This movie provides a glimpse into the lives of the <strong>Anecdotals</strong>–those of us whose lives have been changed drastically by taking the vaccine. It also reflects on the division and politics that prevents us from getting much needed care. Anecdotals is a personal journey that focuses on questions, not answers, and people, not politics.</p>
              </div>
              <div class="col-lg-6 snipcart-product">
                  <div class="row">
                      <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
                          <strong>DVD &ndash; $25</strong>

                          <button style="width:205px" class="snipcart-add-item btn btn-main btn-sm btn-rounded"
                                  data-item-id="anecdotals-dvd-25"
                                  data-item-price="25.00"
                                  data-item-image="/images/snipcart/DVD.jpg"
                                  data-item-name="Anecdotals DVD">
                              Purchase DVD
                              <i class="ti-angle-right ml-2"></i>
                          </button>
                          <br /><br />
                          <strong>Blu-Ray Disc &ndash; $30</strong>


                          <button style="width:205px" class="snipcart-add-item btn btn-main btn-sm btn-rounded"
                                  data-item-id="anecdotals-blu-ray-30"
                                  data-item-price="30.00"
                                  data-item-image="/images/snipcart/DVD.jpg"
                                  data-item-name="Anecdotals Blu-Ray Disc">
                              Purchase Blu-Ray
                              <i class="ti-angle-right ml-2"></i>
                          </button>
                      </div>
                      <div class="col-lg-5 text-center">
                          <img class="img-fluid" src="images/snipcart/DVD.jpg" alt="DVD to purchase">
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </section>
     </div>
  </div>
</div>
</section>


<!-- featured-post-slider -->
<div class="container">
<div class="row">
    <div style="margin-bottom:6px;" class="col-md-12 text-right">
        <a style="text-decoration:underline;" href="/press">View all Press</a>
    </div>
</div>
</div>
<div class="featured-post-slider">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row slider-block">
                    {{ range where site.RegularPages ".Params.featured" "=" true }}
                    <article class="card-overlapped col mb-5">
                        <div class="badge">Featured</div>
                        {{ if .Params.image }}
                        <img loading="lazy" class="w-100" src="{{ .Params.image | absURL }}" alt="{{ .Title }}">
                        {{ end }}
                        <div class="card-block">
                            <h2 class="h4 mb-4"><a class="post-title" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
                            <div class="mb-3 post-meta">
                                {{ .PublishDate.Format "Jan 2, 2006" }} <span class="mx-1">|</span> {{ range .Params.Tags }}
{{ . | title }}
                                {{ end }}
                            </div>
                        </div>
                    </article>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /featured-post-slider -->




{{ end }}
