{{ define "main"}}
<!-- screenings form start -->
<section class="contact section-sm d-flex flex-row justify-content-center">
  <div style="box-sizing: border-box;border:2px solid #492BBD; background: #EAE9F6; margin: 6px; padding: 20px" class="offset-1 offset-lg-2 justify-content-center container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="text-center mb-1 contact-title">
          <h2>Host a Screening</h2>
          This is a worksheet
        </div>
        <div class="container py-5">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <form>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <strong>1. Decide to do a screening.</strong> Many of us in these times may feel somewhat disconnected. Perhaps we worry that our social network isn't big enough for a screening. But if you feel drawn to this movie, it's worth the effort to strive to share it with others. Be a little bit brave.
                  </div>
                  <div class="col-sm-6">
                    <input type="radio" id="html" name="committed" value="yes_screening">
                    <label for="html">Yes, We're doing a screening!</label>
                    <br>
                    <input type="radio" id="html" name="committed" value="no_screening">
                    <label for="html">Not quite there yet</label>
                    <br>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <strong>2. Choose your screening venue and date.</strong> Sample venue options: Your living room; A movie theater; Non-profit meeting room; Zoom (for the whole movie, perhaps, or just for an after-film Q&A after people have watched themselves.) Consider disability access, transportation access., venue cost and size.
                  </div>
                  <div class="col-sm-6">
                    <label for="inputAddressLine2">Venue and Address</label>
                    <input type="text" class="form-control" id="inputAddressLine2" placeholder="Venue with Address">
                    <br />
                    <label for="inputDate">Date</label>
                    <input type="text" class="form-control" id="inputDate" placeholder="Date">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <strong>3. Consider purchasing a DVD/Blu-Ray</strong> as a backup in case the internet streaming is interrupted at your venue.
                  </div>
                  <div class="col-sm-6">
                    <input type="radio" id="html" name="method" value="DVD">
                    <label for="html">DVD</label>
                    <br>
                    <input type="radio" id="html" name="method" value="Blu-Ray">
                    <label for="html">Blu-Ray</label>
                    <br>
                    <input type="radio" id="css" name="method" value="Streaming">
                    <label for="css">Streaming</label>
                    <br>
                    <input type="radio" id="javascript" name="method" value="DCP">
                    <label for="javascript">DCP (Screening fee. Contact us.)</label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <strong>4. Choose an RSVP tool.</strong> Know that if you use Facebook Events, and use phrases like "vaccine injury" your event may be "shadow-banned."
                  </div>
                  <div class="col-sm-6">
                    <label for="inputWebsite">RSVP Link</label>
                    <input type="text" class="form-control" id="inputRSVP" placeholder="RSVP Link">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <strong>5. Send out invitations.</strong><br />
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Sample Invitation text &nbsp;<i class="ti-angle-double-right mr-2"></i></button>
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Copy and Edit (Make it Your Own)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                          [I’m | Named Organization is] happy to invite you to a screening of Anecdotals on [Date] at [Location name and address]. The movie is a compassionate exploration of the nuanced vaccine debate. [Mention your connection to the film]. [if panel discussion: The film will be followed by a panel discussion including…] [if organic food is served: Light organic fare will be served] [<em>Details about parking</em>]
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="inputWebsite">Website</label>
                    <input type="text" class="form-control" id="inputWebsite" placeholder="Website">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <strong>6. Consider a panel discussion</strong> with vaccine-injured participants, advocates, and medical professionals
                  </div>
                  <div class="col-sm-6">
                    <label for="inputWebsite">Website</label>
                    <input type="text" class="form-control" id="inputWebsite" placeholder="Committed Invitees">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <strong>7. Enjoy</strong> your role as host! Thank your participants!
                  </div>
                </div>

                <button type="button" class="btn btn-main px-4 float-right">Save</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact section-sm d-flex flex-row justify-content-center">
<div style="box-sizing: border-box;border:2px solid #492BBD; background: #EAE9F6; margin: 6px; padding: 20px" class="offset-1 offset-lg-2 justify-content-center container">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <form>
  <div class="form-group row">
    <div class="col-sm-6">
      <strong>8. Share</strong> on social media using<br/>#AnecdotalsMovie<br />hashtag
    </div>
    <div class="col-sm-6">
      <label for="inputWebsite">Website</label>
      <input type="text" class="form-control" id="inputWebsite" placeholder="Committed Invitees">
    </div>
  </div>
        </form>
      </div>
    </div>
  </div>
</div>
</section>

<section>
  <div style="box-sizing: border-box;border:2px solid #492BBD; background: #EAE9F6; margin: 6px; padding: 20px" class="offset-1 offset-lg-2 justify-content-center container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="text-center mb-1 contact-title">
          <h2>Screenings</h2>
        </div>
        <div class="text-center">
          <p>We know that our subject matter is a point of divide for many. <br /> But we are still hopeful to submit to film and documentary festivals. <Br />In the meantime, you may request access to do a screening of the movie. </p>
        </div>
        <form class="contact__form mt-5" method="post" action="{{ .Site.Params.contact_form_action }}">
          <div class="form-row">
            <div class="col-lg-6">
              <div class="form-group mb-3">
                <input name="name" type="text" class="form-control" placeholder="Your Name">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group mb-3">
                <input name="email" type="email" class="form-control" placeholder="Email Address">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <span style="font-size: 80%;">(A small number is okay. We just want a count.)</span>
            <input name="screencount" type="text" class="form-control" placeholder="Approximately how many viewers?">
          </div>
          <p>&nbsp;</p>
          <div class="col-lg-12">
            <div class="form-group-2 mb-4">
              <textarea name="message" class="form-control" rows="5" placeholder="Your Message"></textarea>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group mb-3">
              <input name="phone" type="text" class="form-control" placeholder="Phone Number (optional)">
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-main" name="submit" type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}