{{ define "main"}}



<!-- About start -->
{{ with .Site.Data.videos.references }}
<section class="section-sm videos">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mb-4">
        <h3 class="mb-2">VIDEO REFERENCES</h3>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="rb-container">
          <ul class="rb">
          {{ range .video }}
          <li class="rb-item" ng-repeat="itembx" style="text-indent: -4.4em; padding-left: 5em;">
            <span class="timestamp">
              {{.program}}
            </span><br> <div class="item-title">
              <button type="button" class="btn btn-outline-dark btn-sm btn-white">
              <a target="_blank" href="{{ .source }}">Link</a>
            </button> {{.description}}</div>

          </li>
          {{ end }}
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.Data.articles.references }}
<section class="section-sm articles">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mb-4">
        <h3 class="mb-2">ARTICLE AND RESEARCH REFERENCES</h3>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="rb-container">
          <ul class="rb">
          {{ range .articles }}
          <li class="rb-item" ng-repeat="itembx" style="text-indent: -4.4em; padding-left: 5em;">
          <div class="item-title">
              &nbsp;<button type="button" class="btn btn-outline-dark btn-sm btn-white">
              <a target="_blank" href="{{ .source }}">Link</a>
            </button> {{.description}}</div>

          </li>
          {{ end }}
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- About End -->


<!-- CTA Start -->
{{ if .Site.Data.about.cta.enable }}
{{ with .Site.Data.about.cta }}
<section class="section-sm pt-0 cta">
  <div class="container">
    <div class="row align-items-center bg-dark p-5">
      <div class="col-lg-8">
        <h3 class="text-white mb-0">{{ .title | markdownify }}</h3>
      </div>
      {{ if .button.enable }}
      {{ with .button }}
      <div class="col-lg-4 text-lg-right mt-5 mt-lg-0">
        <a href="{{ .link | absURL }}" class="btn btn-white">{{ .label }}</a>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- CTA End -->

{{ end }}
