{{ define "main"}}
<style>
  .rb-item {
    /*float: left;*/
    /*background-color: #2196F3;*/
    /*color: #ffffff;*/
    /*width: 100px;*/
    /*line-height: 100px;*/
    /*text-align: center;*/
    /*margin: 2px;*/
    display: none;
  }

  .show {
    display: block;
  }

  .container {
    margin-top: 20px;
    overflow: hidden;
  }

  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .btn:hover {
    background-color: red;
  }

  .btn.active {
    background-color: #666;
    color: white;
  }
</style>
<body>

{{ with .Site.Data.references.references }}
<section class="section-sm articles">
  <div class="container">
    <div class="row">
      <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('Corporate')"> Corporate</button>
        <button class="btn" onclick="filterSelection('Government')"> Government</button>
        <button class="btn" onclick="filterSelection('Journal')"> Journal</button>
        <button class="btn" onclick="filterSelection('Media')"> Media</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 mb-4">
        <h3 class="mb-2">REFERENCES</h3>
      </div>
      <div class="col-lg-6">
        <div class="rb-container">
          <ul class="rb">
          {{ range .articles }}
          <li class="rb-item {{.type}}" ng-repeat="itembx" style="text-indent: -4.4em; padding-left: 5em;">
            <span class="timestamp">
              {{.publication}}
            </span><br>
          <div class="item-title">
              &nbsp;<button type="button" class="btn btn-outline-dark btn-sm btn-white">
              <a target="_blank" href="{{ .source }}">Link</a>
            </button> {{.title}}</div>
          </li>
          {{ end }}
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- About End -->


<!-- CTA Start -->
{{ if .Site.Data.about.cta.enable }}
{{ with .Site.Data.about.cta }}
<section class="section-sm pt-0 cta">
  <div class="container">
    <div class="row align-items-center bg-dark p-5">
      <div class="col-lg-8">
        <h3 class="text-white mb-0">{{ .title | markdownify }}</h3>
      </div>
      {{ if .button.enable }}
      {{ with .button }}
      <div class="col-lg-4 text-lg-right mt-5 mt-lg-0">
        <a href="{{ .link | absURL }}" class="btn btn-white">{{ .label }}</a>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- CTA End -->

{{ end }}
<script>


    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("rb-item");
      if (c == "all") c = "";
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }

    function w3AddClass(element, name) {
      let i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {
          element.className += " " + arr2[i];
        }
      }
    }

    function w3RemoveClass(element, name) {
      let i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);
        }
      }
      element.className = arr1.join(" ");
    }
    // document.addEventListener("DOMContentLoaded", function(event) {
    // console.log('document is ready. I can sleep now');
   // filterSelection("all")

    // Add active class to the current button (highlight it)
    let btnContainer = document.getElementById("myBtnContainer");
    console.log(btnContainer)
    let btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function () {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
  // });
</script>